<!DOCTYPE html>
  <!---Form Donasi Sampah by Eda>--->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/form_donasi.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Form Donasi Sampah - Bank {{nama}} </div>
    <div class="content">
      <form method="POST" id="post-form">
        {% csrf_token %}
        <div class="sampah-details">
          <div class="input-box">
            <span class="details">Berat Sampah (Kg)</span>
            <input name="berat" id = "berat" type="number" placeholder="Ex: 5" required min="1" max="100" >
          </div>
        </div>
        <div class="jenis-sampah-details">
          <input type="radio" name="jenis-sampah" id="karung" value="karung">
          <input type="radio" name="jenis-sampah" id="ban" value="ban">
          <input type="radio" name="jenis-sampah" id="ember" value="ember">
          <input type="radio" name="jenis-sampah" id="plastik" value="plastik">
          <input type="radio" name="jenis-sampah" id="logam" value="logam">
          <input type="radio" name="jenis-sampah" id="botol" value="botol">
          <span class="jenis-sampah-title">Jenis Sampah</span>
          <div class="category">
            <label for="karung">
            <span class="dot one"></span>
            <span class="jenis-sampah">Karung</span>
          </label>
          <label for="ban">
            <span class="dot two"></span>
            <span class="jenis-sampah">Ban</span>
          </label>
          <label for="ember">
            <span class="dot three"></span>
            <span class="jenis-sampah">Plastik Emberan</span>
            </label>
          <label for="plastik">
            <span class="dot four"></span>
            <span class="jenis-sampah">Aneka Plastik</span>
            </label>
          <label for="logam">
            <span class="dot five"></span>
            <span class="jenis-sampah">Logam</span>
          </label>
          <label for="botol">
            <span class="dot six"></span>
            <span class="jenis-sampah">Botol Kaca</span>
            </label>
        </div>
        <div class="button">
          <input type="submit" value="Donate">
        </div>
      </form>
    </div>
  </div>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
