{% extends 'base.html' %}
{% load static %}
{% block meta%}
    <title>History</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tabel_history.css' %}">
{% endblock meta%}

{% block content %}
<div>
    <h1 style="color:black; text-shadow: none; margin-top: 2rem;">Your History</h1>
</div>

<div class="container">
<table id="table_result" class="display" style="width:100%">
    <thead>
    <tr>
        <th>Tanggal</th>
        <th>Bank Sampah</th>
        <th>Jenis Sampah</th>
        <th>Berat Sampah</th>
        <th>Poin</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
        <td>Data 4</td>
        <td>Data 5</td>
    </tr>
    </tbody>
</table>

</div>


<script>
    $(document).ready(function () {
        $('#table_result').DataTable({
            "ajax": {
                "url": "{% url 'buat_sumbangan:donasi_json' %}",
                "dataSrc": ''
            },
            "searching": true,
            "ordering": true,
            "columns": [
                {"data": "fields.date"},
                {"data": "fields.bank_sampah"},
                {"data": "fields.jenis"},
                {"data": "fields.berat"},
                {"data": "fields.poin"},
            ]
        });
    });


    
</script>
{% endblock content %}