
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show Profile</title>
    <!-- <link rel = "stylesheet" href ="{% static 'css/show_profile.css' % }"> -->
</head>

<body>
    <h1>hai</h1>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <p class="logo">Profile</p>
        </nav>
    </header>
    <main class = "main-container"></main>
        <div class="container">
            <!-- <div class = profilepic>
                <img src="images/profile-pic.png" class="profile-pic">
            </div> -->
            <div class = "details">
                {% if user.is_regular %}
                    <label for="name">name: </label>
                    <p id="name">{{user.name}}</p>

                    <label for="username">Username: </label>
                    <p id="username">{{user.username}}</p>

                    <label for="age">Age: </label>
                    <p id="age">{{user.age}}</p>

                    <label for="gender">Gender: </label>
                    <p id="gender">{{user.gender}}</p>

                    <label for="email"></label>
                    <p id="email">{{user.email}}</p>

                    <label for="city"></label>
                    <p id="city">{{user.city}}</p>
                    
                {% elif user.is_bank %}
                    <label for="name">Username: </label>
                    <p id="name">{{user.name}}</p>

                    <label for="email">Email: </label>
                    <p id="email">{{ user.email}}</p>

                        <label for="city">City: </label>
                        <p id="city">{{user.city}}</p>

                        <label for="address">Address: </label>
                        <p id="address">{{user.address}}</p>
                    
                    {% endif %}
            </div>
            <div class = "edit_profile">
                <a href="{ % url 'profile_user:update_profile' % }">Edit</a>
                </h5>
            </div>
        </div>
    </main>

    

</body>