{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Show Profile</title>
    <link rel = "stylesheet" href ="{% static 'css/show_profile.css' %}">
</head>

<body>
    {% if user.is_regular %}
    <main class = "main-container-reg">
        <!-- <h1> Here's Your Profile</h1> -->
        <div class="container-reg">
            <h1 class="h1-reg"> Here's Your Profile</h1>
            <div class = "show_profile_reg">
                <div class = profilepic-reg>
                    <img src="{% static 'images/user_icon.png' %}" width="100px">
                </div>
                    
                <div class = "details-reg"> 
                    <p id="name-reg">{{user.name}}</p>       
                    <p id="username-reg">{{user.username}}</p>                  
                    <p id="age-reg">{{user.age}}</p>                         
                    <p id="gender-reg">{{user.gender}}</p>                        
                    <p id="email-reg">{{user.email}}</p>        
                    <p id="city-reg">{{user.city}}</p>
                </div>

                <div class = "edit-profile-reg">
                    <h5> Do you want to edit your profile?
                    <a href="/profile_user/edit_profile"> Edit here</a>
                    </h5>
                </div>
            </div>
        </div>
    </main>
                    
    {% elif user.is_bank %}
    <main class = "main-container-bank">
        <!-- <h1> Here's Your Profile</h1> -->
        <div class="container-bank">
            <h1 class="h1-bank"> Here's Your Profile</h1>
            <div class = "show_profile_bank">
                <div class = profilepic_bank>
                    <img src="{% static 'images/bank_icon.png' %}" width="100px">
                </div>

                <div class = "details-bank">
                    <p id="name-bank">{{user.name}}</p>
                    <p id="email-bank">{{ user.email}}</p>
                    <p id="city-bank">{{user.city}}</p>
                    <p id="address-bank">{{user.address}}</p>
                </div>

                <div class = "edit-profile-bank">
                    <h5> Do you want to edit your profile?
                    <a href="/profile_user/edit_profile"> Edit here</a>
                    </h5>
                </div>
            </div>
        </div>
    </main>
                    
    {% endif %}
    
</body>
</html>