{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profile</title>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <link rel = "stylesheet" href ="{% static 'css/update_profile.css' %}">
</head>


<body>
    {% if user.is_regular %}
        <main class="edit_profile">
            <h1>Edit Profile</h1>
            <form name="edit-reg-form" class="edit-reg-form" method="POST" id="edit-reg-form">
                {% csrf_token %}
                    <label for="name">Nama Lengkap</label>
                    <input type="text" class="form-control" id="inputName2" placeholder="Nama Lengkap" name= "name"   
                    autocomplete="off" required>
        
                    
            

                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="inputEmail2" placeholder="Email" required>   
                    
                

                    <label for="username">Username</label>
                    <input type="text" name="username" id="inputUsername2" class="form-control" placeholder="Username"
                        required>
                    
 


                    <label for="age">Umur</label>
                    <input type="number" name="age" id="inputAge2" class="form-control input" placeholder="Umur" 
                    min="13" max="100" onchange="if(value<13) value=13; if(value>100) value=100;"><br>
                    


                    <label for="gender">Jenis Kelamin:</label>
                    <input type="radio" name="gender" id="pria" value="Pria">
                    <label class="radio" for="pria">Pria</label>
                    
        
                    <input type="radio" name="gender" id="wanita" value="Wanita">
                    <label class="radio" for="wanita">Wanita</label> <br>

                    
                    <input  type="radio" name="gender" id="tidak" value="Tidak ingin memberi tahu">
                    <label class="radio" for="tidak">Tidak ingin memberi tahu</label> <br>
                    

                    <input type="text" name="city" id="inputCity2" class="form-control input" placeholder="Domisili (Kota)"><br>
                    <label for="city">Domisili (Kota)</label>

                    <button class="btn btn-md btn-primary" id="btn-save-reg" type="submit" onclick="editReg();">Save</button>
                    
            </form>

            
        </main>           
            
    {% elif user.is_bank %} 
        <main class="main-container">
            <form name="edit-bank-form" class="edit-bank-form" method="POST" id="edit-bank-form">
                {% csrf_token %}
                <div>
                    <label for="name">Nama Institusi:</label> <br>
                    <input type="text" name="name" id="inputName" class="form-control" autocomplete="off" placeholder="">
                    <br>
                </div>

                    <label for="email">Email:</label> <br>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="" required autofocus>
                    <br>
                


                
                    <label for="city">Domisili (Kota):</label> <br>
                    <input type="text" name="city" id="inputCity" class="form-control" placeholder=""><br>
                

                <label for="address">Tell us how you heard about us:</label>
                <br>
                <textarea id="inputAddress" name="address" placeholder="Address"></textarea><br>

                <p id="error" style="color: red"></p>

            </form>
            <button class="btn btn-md btn-primary" id="btn-save-bank" type="submit" onclick="editBank();">Save</button>
        </main>
        {% endif %}
    
<script type="text/javascript">
    function editBank() {
        $.ajax({
            type: 'POST',
            url: '/profile_user/edit_profile',
            data: $('#edit-bank-form').serialize(),
            
            success: function(response) {
                if (response['success']) {
                    alert("Profile Successfully Updated!");
                    document.getElementById("edit-bank-form").reset();
                }
                else {
                    if ("warning" in response) {
                        alert(response['warning']);
                    }
                    else {
                        var message = "";
                        for (msg in response['error']) {
                            message += response['error'][msg]
                        }
                        var newMessage = message.replace(/,/g, "\n");
                        alert(newMessage)
                    }
                }
            },
        })
    }

    function editReg() {
        $.ajax({
            type: 'POST',
            url: '/profile_user/edit_profile',
            data: $('#edit-reg-form').serialize(),
            
            success: function(response) {
                if (response['success']) {
                    alert("Profile succesfully updated!");
                    document.getElementById("edit-reg-form").reset();
                }
                else {
                    if ("warning" in response) {
                        alert(response['warning']);
                    }
                    else {
                        var message = "";
                        for (msg in response['error']) {
                            message += response['error'][msg]
                        }
                        var newMessage = message.replace(/,/g, "\n");
                        alert(newMessage)
                    }
                }
            },
        })
    }
</script>
</body>
</html>
