<link href="../../static/style.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Wazzt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="../../leaderboard">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="../../leaderboard/user/#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="../../forum">Forum</a></li>
                <li class="nav-item"><a class="nav-link" href="../../for_profile/show_profile">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="../../leaderboard/leaderboard">Leaderboard</a></li>
                <li class="nav-item"><a class="nav-link" href="../../tukarpoin">Tukar Poin</a></li>
                <li class="nav-item"><a class="nav-link" href="../../sumbang/history">Riwayat</a></li>
                <li class="nav-item"><a class="nav-link" href="../../leaderboard/user/#contact">Contact</a></li>
                <li class="nav-item"><button><a class="nav-link" href="{% url 'accounts:logout'%}">Logout</a></button></li>
            </ul>
        </div>
    </div>
</nav>