@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1 {
    margin-top : 70px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(31, 108, 25);
}
*, body {
    margin: 0;
    padding: 0;
    font-family: Nunito;
}
body{
    background-color: #bfbebe;

}
.main-container{
    width: 650px;
    height: 100px;
    background: #bfbebe;
    border-radius: 30px;
    display: block;
    margin: auto;
    display: flex;
    padding: 50px;
    padding-bottom: 0px;
    margin-bottom: 100px;
    font-family: 'Roboto', sans-serif;

} 
.container{
    width: 350px;
    height: 350px;
    background: rgba(253, 253, 253, 0.767);
    /* background-image: linear-gradient(to bottom right, rgb(240, 157, 222), #564df7); */
    border-radius: 40px;
    display: block;
    margin: auto;
    display: flex;
    padding: 50px;
    /* padding-bottom: 50px; */
    margin-bottom: 90px;
    /* padding-left: 50px; */
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 5px 5px rgb(71, 66, 66);

}
.profilepic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 37%; */
}

.profilepic img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    margin: .5em auto;

}
.details{
    /* width: 400px;
    margin-top: -50px;
    margin-right: 0px;
    margin: auto;
    padding: 50px;
    background:rgb(255, 255, 255);
    border-radius: 0% 0px 0px 0%;
    align-items: center; */
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    /* padding-left: -50em; */

}
#name{
    font-size: 2em;
    font-weight: 600;
    margin: 5px 0;
    text-align: center;
}

#email{
    text-align: center;
    padding: 5px;
}

#city{
    text-align: center;
    padding: 5px;
}

#address{
    text-align: center;
    padding: 5px;
}

#username{
    font-size: 1.6em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.876);
    margin: 5px 0;
    width: 80%;
    line-height: 1.3em;
    padding: 5px;
}
#age{
    text-align: center;
    padding: 5px;
}
#gender{
    text-align: center;
    padding: 5px;
}
.edit_profile{
    text-align: center;
    padding: 8px;
}
