{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'forum.css' %}">
    <script src="{% static 'forum.js' %}"></script>
    {% include 'navbar.html' %}
</head>


<body id = "id1">
    <div class= "page" style="padding:5%;">
        <h1 class="title">All questions</h1>
        <div class = "content">
            {% include 'question-list.html' %}
        </div>
    </div>
</body>

<!-- modal -->
<div class="modal fade" id="modal-ajax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your Question</h1>
            </div>
            <div class="modal-body">
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Question</label>
                        <textarea class="form-control" id="description"  name="description" required></textarea>
                    </div>
                    <input type="submit" id="submit-modal" class="btn btn-primary" data-bs-dismiss="modal"></input>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}