{% extends 'base.html' %}



{% block content %}

<script>



</script>

<nav class="navbar" >
    <div class="container-fluid">
      <a class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#modal-ajax">Add Your Questions</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
</nav>


<div class= "page" >
    <h1 class="title">All questions</h1>

    {% for question in questions %}

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{question.title}}
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>by {{question.author.username}}</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
    </div>
    {% endfor %}
</div>


<!-- modal -->
<div class="modal fade" id="modal-ajax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Your Question</h1>
            </div>
            <div class="modal-body">
                <form id="form" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Question</label>
                        <textarea class="form-control" id="description"  name="description" required></textarea>
                    </div>
                    <input type="submit" id="submit-modal" class="btn btn-primary" data-bs-dismiss="modal"></input>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}